# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Capacitor
# iOS
ios/App/Pods
ios/App/Podfile.lock
ios/App/App.xcworkspace/xcuserdata
ios/App/App.xcodeproj/xcuserdata
ios/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/App/App/public
ios/App/App/capacitor.config.json

# Android
android/.gradle
android/.idea
android/build
android/app/build
android/capacitor-cordova-android-plugins/build
android/local.properties
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json

# Generated config
capacitor.config.ts
